/* General definitions */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

ul {
  padding: 0;
  margin:0;
}

.container {
  position: relative;
}
.principal{
  position: relative;
}
/*==========================*/
/* Headers - logo - Menu
/*=========================*/
.main-header {
  background-color: #1c1c4f;
  /*Flex*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-container{
  flex-basis: 20%;
  min-width: 120px;
  max-width: 140px;
}
.logo {
  width: 100%;
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 80%;
  justify-content: space-between;

}
.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 30%;
  justify-content: space-around;

}

.main-nav .tab-li {
  padding-left: 200px;
}
.main-nav li a {
  color: #fff;
  text-decoration: none;
}
/*==========================*/
/* Banners */
/*==========================*/
/* Banner HOME */
.bannerContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.banner {
  width: 100%;
  margin: 0 auto;
}

/* Banner Login */
.bannerContainer2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.bannerSmall {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.keylogin {
  position: absolute;
  top: 0;
  opacity: 0.4;
  height: 90%;
}
.title {
  text-align:  center;
  top: 0;
  background-color: #e7a43c;
  width: 100%;
  color: white;
  margin: 0;
}

/*-------------------------*/
/* control for Input data */
/* esto es lo que marca el color del input */
.form-control:hover {
  background-color: #f6e9d6;
  border: 1px solid #e7a43c;
}
.form-control:focus {
  background-color: #f6e9d6;
  border: 1px solid #e7a43c;
}
/* Buttons must be in global */
.btn-confirm {
  color: #1c1c4f;
  font-size: 13px;
  background-color: #e6e658;
  opacity: 1.5;
  border: 2px solid #e7a43c;
  padding: 10px;
}

.btn-confirm:hover {
  color: white;
  background-color: #999999;
  border: 1px solid #e7a43c;
}

.btn-confirm:focus {
  color: white;
  background-color: #999999;
  border: 1px solid #e7a43c;
}
/*==========================*/
/*  FOR EACH PEACH PRINCIPAL CONTAINER
/*==========================*/
/* HOME */
/*-------------------------------*/
.Fotitoscontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0,0,0,.5);}

  .linecontainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .linecontainer img {
    width: 100%;
  }
  .linesub1 {
    position: relative;
  }

  .linesub2 {
    border-right: 1px solid white;
  }
  .linesub2:nth-child(3) {
    border-right: 0px;
  }


  .p1{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    color: white;
    font-size: 11px;
    text-align: center;
    text-decoration-style: solid;
    bottom: 1%;
    width: 100%;
    padding: 15px;
  }

  .Numbers {
    position: absolute;
    transform: translate(-50%,-50%);
    color: yellow;
    font-size: 90px;
    text-align: center;
    text-decoration-style: solid;
    top: 50%;
    left: 50%;
    width:100%;
    margin: 0;
  }

  .p2{
    color: white;
    font-size: 23px;
    text-align: center;
    width: 100%;
    top: 90%;
    padding: 24px;
  }
  .p3 {
    color: white;
    font-size: 23px;
    text-align: center;
    width: 100%;
    padding: 38px;
  }
  /* Definitions for "login" PAGE
  -------------------------------*/

  /* Header login */
  .head-login {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left:  10%;
    margin-top: 10px;
    border: 1px solid #c6d9ec;
  }


  .img-login {
    border-radius: 150px;
    margin: 10px 0 10px 0;
    border: 2px solid #c6d9ec;

  }
  /* login Body */
  .login {
    width: 80%;
    margin-left:  10%;

  }
  .login_fields {
    width: 60%;
    margin-top: 30px;
    margin-left:  20%;
    display: flex;
    flex-direction: column;
  }

  .login_but , .signup_but {
    /*-Button--*/
    width: 60%;
    margin-top: 20px;
    margin-left:  20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .login_but .btn-confirm {
    width: 49%;
    margin-bottom: 10px;
    padding: 8px;
  }

  .line {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .line2 {
    margin-top: 2px;
    display: flex;
    justify-content: flex-end;
  }
  .p4 {
    font-size: 8px;
  }
  /* SIGNUP BODY */
  .signup {
    width: 90%;
    margin-left:  5%;
  }
  .group {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .subgroup {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .subgroup2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }

    .subgender {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
    .signup_but .btn-confirm {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
    }

    .infFaq li {
    list-style-type: disc;
    }

    /* FAQ Body */
    .principalFaq {
      margin: 0;
      padding: 0;
      background-image: url("../img/ladrillos.jpg");
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      align-items: center;
      flex-direction: column;
    }
    .boxFaq {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      align-self: stretch;
      justify-content: space-between;
      flex-direction: column;
      width: 90%;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 10px;
      margin-left: 5%;
      height: 100%;

    }

    .imgFaq {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    .imgFaq img {
      width: 50%;
      border-radius: 100px;}


      /*-------------------------*/
      /* FOOTER
      /*-------------------------*/

      .footer-nav {
        background-color: #3f3f6a;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;}

        .footer-nav ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        .footer-nav li {
          padding: 10px 10px;
        }
        .footer-nav li a, .footer-nav li {
          color: #fff;
          text-decoration: none;
          padding-left: 10px;
          padding-right: 5px;
        }
        /*--------------------------------
        /* Responsive
        /*--------------------------------*/
        @media (min-width: 600px) {
          /* lAPTOP
          /*--------------------------------*/
          .container {
            max-width: 800px;
          }
          /* for lOGIN PAGE*/
          .line {
            flex-direction: row;
            justify-content: space-between;
          }
          /* for INDEX page*/
          .linecontainer{
            width: 33.33%;
          }
          .p1 {
            font-size: 21px;
            padding: 15px;
          }
          .Fotitoscontainer {
            flex-direction: row;
          }
          .p3 {
            padding: 24px;
          }

          /* for FAQ page*/

          .principalFaq {
            flex-direction: row;
          }
          .boxFaq {
            width: 40%;
            flex-direction: row;
            justify-content: center;
          }

          /* for SIGNUP page*/

          .group {
            flex-direction: row;
            justify-content: space-between;
          }
          .subgroup {
            width: 45%;
          }
          .subgroup2 {
            width: 45%;
          }
          .subgender {
            width: 45%;
            }   }
            @media (min-width: 801px) {
              /* COMPLETE
              /*--------------------------------*/
              .container {
              max-width: 100%; }
              /* for INDEX PAGE*/
              .p1 {
                font-size: 30px;
                padding: 20px;
              }
              .linecontainer{
                width: 33.33%;
              }
              .Fotitoscontainer {
                flex-direction: row;
              }
              /* for lOGIN PAGE*/
              .line {
                flex-direction: column;
                justify-content: space-between;
              }
              /* for FAQ PAGE*/
              .principalFaq {
                flex-direction: row;
                justify-content: center;
              }
              .boxFaq {
                width: 40%;
                flex-direction: row;
              }
              /* for SIGNUP PAGE*/
              .group {
                flex-direction: row;
                justify-content: space-between;
              }
              .subgroup {
                width: 45%;
              }
              .subgroup2 {
                width: 45%;
              }
              .subgender {
                width: 45%;
              }
            }
