/* General definitions */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

ul {
  padding: 0;
  margin:0;
}

.container {
  position: relative;
}
.principal{
  min-height: 700px;
}
/*Usar esta clase para los mensajes error*/
.error{
  background-color: red;
  color: white;
}
/*==========================*/
/* Headers - logo - Menu
/*=========================*/
.main-header {
  background-color: #1c1c4f;
  /*Flex*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-container{
  flex-basis: 20%;
  min-width: 120px;
  max-width: 140px;
}
.logo {
  width: 100%;
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 60%;
  justify-content: space-between;
}
.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 50%;
  justify-content: space-around;
}

.main-nav li a {
  color: #fff;
  text-decoration: none;
}
/*==========================*/
/* Banners */
/*==========================*/
/* Banner HOME */
.bannerContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.banner {
  width: 100%;
  margin: 0 auto;
}

/* Banner Login */
.bannerContainer2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.bannerSmall {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.keylogin {
  position: absolute;
  top: 0;
  opacity: 0.4;
  height: 90%;
}
.title {
  text-align:  center;
  top: 0;
  background-color: #e7a43c;
  width: 100%;
  color: white;
  margin: 0;
}

/*-------------------------*/
/* control for Input data */
/* esto es lo que marca el color del input */
.form-control:hover {
  background-color: #f6e9d6;
  border: 1px solid #e7a43c;
}
.form-control:focus {
  background-color: #f6e9d6;
  border: 1px solid #e7a43c;
}
.form-control {
  width: 100%;
}
/* Buttons must be in global */
.btn-confirm {
  color: #1c1c4f;
  font-size: 13px;
  background-color: #e6e658;
  opacity: 1.5;
  border: 2px solid #e7a43c;
  padding: 10px;
  font-weight: bold;
  width: 80%

}

.btn-confirm:hover {
  color: white;
  background-color: #999999;
  border: 1px solid #e7a43c;
}

.btn-confirm:focus {
  color: white;
  background-color: #999999;
  border: 1px solid #e7a43c;
}
.label {
  font-weight: bold;
}
/*==========================*/
/*  FOR EACH PEACH PRINCIPAL CONTAINER
/*==========================*/
/* HOME */
/*-------------------------------*/
.Fotitoscontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0,0,0,.5);}

  .linecontainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .linecontainer img {
    width: 100%;
  }
  .linesub1 {
    position: relative;
  }


  .p1{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration-style: solid;
    bottom: -2px;
    width: 100%;
    padding: 3px 5px 5px 2px;

  }

  .Numbers {
    position: absolute;
    transform: translate(-50%,-50%);
    color: yellow;
    font-size: 90px;
    text-align: center;
    text-decoration-style: solid;
    top: 50%;
    left: 50%;
    width:100%;
    margin: 0;
  }

  .p2{
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    top: 90%;
    padding: 10px;
  }

  /* Definitions for "login" PAGE
  -------------------------------*/

  /* Header login */
  .head-login {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left:  10%;
    margin-top: 10px;
    border: 1px solid #c6d9ec;
  }


  .img-login {
    border-radius: 150px;
    margin: 10px 0 10px 0;
    border: 2px solid #c6d9ec;

  }
  /* login Body */
  .login {
    width: 80%;
    margin-left:  10%;

  }
  .login_fields {
    width: 60%;
    margin-top: 30px;
    margin-left:  20%;
    display: flex;
    flex-direction: column;
  }

  .login_but  {
    /*-Button--*/
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  .signup_but {
    /*-Button--*/
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .login_but .btn-confirm {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 1px 8px 3px;
  }

  .line {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
  }
  .line2 {
    margin-top: 2px;
    display: flex;
    justify-content: flex-end;
  }
  .p4 {
    font-size: 8px;
  }
  /* SIGNUP BODY */
  .signup {
    width: 90%;
    margin-left:  5%;
  }
  .group {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;

  }
  .subgroup {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: none;
  }

 }
    .signup_but .btn-confirm {
      width: 100%;
      margin-bottom: 10px;
      margin-left:  0;
      padding: 8px;
    }

    .infFaq li {
    list-style-type: disc;
    }

    /* FAQ Body */
    .principalFaq {
      margin: 0;
      padding: 0;
      background-image: url("../img/ladrillos.jpg");
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      align-items: center;
      flex-direction: column;
    }
    .boxFaq {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      align-self: stretch;
      justify-content: space-between;
      flex-direction: column;
      width: 90%;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 10px;
      margin-left: 5%;
      height: 100%;

    }

    .imgFaq {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    .imgFaq img {
      width: 33%;
      border-radius: 100px;}


      /*-------------------------*/
      /* FOOTER
      /*-------------------------*/

      .footer-nav {
        background-color: #3f3f6a;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;}

        .footer-nav ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        .footer-nav li {
          padding: 10px 10px;
        }
        .footer-nav li a, .footer-nav li {
          color: #fff;
          text-decoration: none;
          padding-left: 10px;
          padding-right: 5px;
        }
        /*--------------------------------
        /* Responsive
        /*--------------------------------*/
        @media (min-width: 600px) {
          /* lAPTOP
          /*--------------------------------*/
          .container {
            max-width: 800px;
          }
          .main-nav {
            flex-basis: 80%;}
          .main-nav ul {
            flex-basis: 30%;}

          .login_but {
              /*-Button--*/
              width: 48%;
              flex-direction: row;
              margin-left:  20%;
            }
            .signup_but {
              width: 100%;
            }
            .login_but .btn-confirm {
              width: 48%;
            }
          /* for lOGIN PAGE*/
          .line {
            flex-direction: row;
            justify-content: space-between;
            font-size: 14px;
          }
          /* for INDEX page*/
          .linecontainer{
            width: 33.33%;
          }
          .linesub2 {
            border-right: 1px solid white;
          }

      .p1 {
            font-size: 30px;
            padding: 12px;
            botton: 0.3%;
          }
          .Fotitoscontainer {
            flex-direction: row;
          }
          .p2 {
            font-size: 23px;
          }

          /* for FAQ page*/

          .principalFaq {
            flex-direction: row;
          }
          .boxFaq {
            width: 40%;
            flex-direction: row;
            justify-content: center;
          }

   }
      @media (min-width: 801px) {
     /* COMPLETE
     /*--------------------------------*/
        .container {
          max-width: 100%; }
        .main-nav {
          flex-basis: 80%;}
        .main-nav ul {
          flex-basis: 30%;}
        .login_but  {
        /*-Button--*/
          width: 60%;
          flex-direction: row;
          }
        .signup_but {
          width: 100%;
        }
        .btn-confirm {
          width: 60%;
            }
      /* for INDEX PAGE*/
        .linesub2 {
          border-right: 1px solid white;
              }
        .p1 {
          font-size: 32px;
          padding: 20px;
              }
        .linecontainer{
          width: 33.33%;
          }
        .Fotitoscontainer {
          flex-direction: row;
          }
    /* for lOGIN PAGE*/
        .line {
          flex-direction: column;
          justify-content: space-between;
              }
          .f-login {
            font-size: 14px;
          }
    /* for FAQ PAGE*/
        .principalFaq {
          flex-direction: row;
          justify-content: center;
              }
        .boxFaq {
          width: 40%;
          flex-direction: row;
            }
